<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
  <%- include('layouts/head') -%>
  <body>
    <!-- Nav Bar -->
    <%- include('layouts/nav') -%>

    <header
      class="masthead"
      style="background-image: url('/img/banner/dashboard_banner.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Dashboard</h1>
              <span class="subheading">Drive Test Booking Kiosk</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content-->
    <main>
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
              <a href="/G-Test">
                <h2 class="post-title">
                  You can book G test drive test from this Kiosk
                </h2>
                <h3 class="post-subtitle">
                  You can book G test drive test from this Kiosk
                </h3>
              </a>
              <p class="post-meta">
                Posted by
                <a href="#!">DriveTest Center</a>
                on January 31, 2025
              </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
              <a href="/G2-Test">
                <h2 class="post-title">
                  You can book G2 test drive test from this Kiosk
                </h2>
                <h3 class="post-subtitle">
                  You can book G2 test drive test from this Kiosk
                </h3>
              </a>
              <p class="post-meta">
                Posted by
                <a href="#!">DriveTest Center</a>
                on January 31, 2025
              </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
              <a href="/login">
                <h2 class="post-title">
                  You can login to this Kiosk from here
                </h2>
                <h3 class="post-subtitle">
                  You can login to this Kiosk from here
                </h3>
              </a>
              <p class="post-meta">
                Posted by
                <a href="#!">DriveTest Center</a>
                on January 31, 2025
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <%- include('layouts/footer') -%>
    <!-- Scripts -->
    <%- include('layouts/scripts') -%>
  </body>
</html>
